<!doctype html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
  </head>
  <body>
    <audio src = "/music/Lightsun.mp3" id = "audio" loop></audio>
    <div class = "titleimage">
      <img src = "/images/titleimg.png" />
    </div>

    <br>
    <br>

    <div class = "menutitles">
      <h3>Oregon Trail</h3>
      <h4>Main Menu</h4>
    </div>

    <br>
    <br>
    <br>

    <div class = "list">
      <ol>
        <li  id = "travelTrail">Travel the Trail</li>
        <li>Learn About the Trail</li>
        <li id = "topTen">See the Oregon Top 10</li>
        <li id = "sound">Turn Sound On</li>
      </ol>

      <br>

      <p>Select an Option</p>
    </div>

    <script src = "/js/mainmenu.js"></script>
    <script src = "/js/global.js"></script>
  </body>
</html>
