<!doctype html>
<html>
  <head>
    <script src = "/js/global.js"></script>
    <script src = "/js/mainmenu.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/mainmenu.css">
  </head>
  <body>
    <div class = "titleimage">
      <img src = "/images/titleimg.png" />
    </div>

    <br>
    <br>

    <div class = "menutitles">
      <h3>Oregon Trail</h3>
      <h4>Main Menu</h4>
    </div>

    <br>
    <br>
    <br>

    <div class = "list">
      <ol>
        <li>Travel the Trail</li>
        <li>Learn About the Trail</li>
        <li>See the Oregon Top 10</li>
        <li>Turn Sound (On/Off)</li>
      </ol>

      <br>

      <p>Select an Option</p>
    </div>

  </body>
</html>
