<!doctype html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/topten.css">

  </head>
  <body>
    <audio src = "/music/Lightsun.mp3" id = "audio" loop></audio>
    <div class = "titleimage">
      <img src = "/images/titleimg.png" />
    </div>

    <br>
    <br>

    <div class = "menutitles">
      <h3>Oregon Trail</h3>
      <h4>Top Ten</h4>
    </div>

    <br>
    <br>
    <br>

    <div class = "table">
      <table style="width:70%">
        <tr>
        	<th></th>
          <th><u>Name</u></th>
          <th><u>Score</u></th>
          <th><u>Date</u></th>
        </tr>
        <tr>
          <td>1)</td>
          <td id = "name1">N/A</td>
          <td id = "score1">N/A</td>
          <td id = "date1">N/A</td>
        </tr>
        <tr>
          <td>2)</td>
          <td id = "name2">N/A</td>
          <td id = "score2">N/A</td>
          <td id = "date2">N/A</td>
        </tr>
        <tr>
          <td>3)</td>
          <td id = "name3">N/A</td>
          <td id = "score3">N/A</td>
          <td id = "date3">N/A</td>
        </tr>
        <tr>
          <td>4)</td>
          <td id = "name4">N/A</td>
          <td id = "score4">N/A</td>
          <td id = "date4">N/A</td>
        </tr>
        <tr>
          <td>5)</td>
          <td id = "name5">N/A</td>
          <td id = "score5">N/A</td>
          <td id = "date5">N/A</td>
        </tr>
        <tr>
          <td>6)</td>
          <td id = "name6">N/A</td>
          <td id = "score6">N/A</td>
          <td id = "date6">N/A</td>
        </tr>
        <tr>
          <td>7)</td>
          <td id = "name7">N/A</td>
          <td id = "score7">N/A</td>
          <td id = "date7">N/A</td>
        </tr>
        <tr>
          <td>8)</td>
          <td id = "name8">N/A</td>
          <td id = "score8">N/A</td>
          <td id = "date8">N/A</td>
        </tr>
        <tr>
          <td>9)</td>
          <td id = "name9">N/A</td>
          <td id = "score9">N/A</td>
          <td id = "date9">N/A</td>
        </tr>
        <tr>
          <td>10)</td>
          <td id = "name10">N/A</td>
          <td id = "score10">N/A</td>
          <td id = "date10">N/A</td>
        </tr>
      </table>
    </div>
      <br>

      <b><p id = "spacebarForMenu">Press the Space For the Main Menu.</p></b>
      <p id = "sound"></p>

      <audio src = "/music/Lightsun.mp3" id = "audio" loop></audio>

      <script src = "/js/topten.js"></script>
      <script src = "/js/global.js"></script>
  </body>
</html>
