<!doctype html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/topten.css">

  </head>
  <body>
    <div class = "titleimage">
      <img src = "/images/titleimg.png" />
    </div>

    <br>
    <br>

    <div class = "menutitles">
      <h3>Oregon Trail</h3>
      <h4>Top Ten</h4>
    </div>

    <br>
    <br>
    <br>

    <div class = "table">
      <table style="width:70%">
        <tr>
        	<th></th>
          <th><u>Name</u></th>
          <th><u>Score</u></th>
          <th><u>Date</u></th>
        </tr>
        <tr>
          <td>1)</td>
        </tr>
        <tr>
          <td>2)</td>
        </tr>
        <tr>
          <td>3)</td>
        </tr>
        <tr>
          <td>4)</td>
        </tr>
        <tr>
          <td>5)</td>
        </tr>
        <tr>
          <td>6)</td>
        </tr>
        <tr>
          <td>7)</td>
        </tr>
        <tr>
          <td>8)</td>
        </tr>
        <tr>
          <td>9)</td>
        </tr>
        <tr>
          <td>10)</td>
        </tr>
      </table>
    </div>
      <br>

      <b><p id = "spacebarForMenu">Press the Space For the Main Menu.</p></b>

      <script src = "/js/topten.js"></script>
      <script src = "/js/global.js"></script>
  </body>
</html>
