<!doctype html>
<html>
  <head>
    <script src = "/js/global.js"></script>
    <script src = "/js/trail.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/trail.css">
  </head>
  <body>
    <div class = "titleimage">
      <img src = "/images/titleimg.png" class = "img"/>
    </div>

    <br>
    <br>

    <img src = "/images/ocean.jpg" class = "img"/>
    <img src = "/images/boat.png" class = "boat"/>

    <div class = "list">
      <p>Days on the Trail:</p>
      <p>Miles Traveled:</p>
      <p>Current Weather:</p>
      <p>Current Health:</p>
      <p>Current Pace:</p>
      <p>Current Terrain:</p>
      <p># of Party Members:</p>
      <br>
    </div>

      <b><p onclick="location.href = '/mainmenu'" class = "p">  Press the Space For the Main Menu.</p></b>

  </body>
</html>
