img{
  width: 80%;
  height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleimage{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 150px;;
}

.menutitles{
  font-size: 150%;
  color: #000066;
  width: 100%;
  height: 20%;
  text-align: center;
}

.list{
  width: 100%;
  position: relative;
  left: 35%;
  color: #2eb8b8;
  font-size: 150%;
}

li{
  padding: 10px;
}

#sound{
  color: #ffff99;
}

button{
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  width: 60px;
  height: 40px;
  background-color:  #00ccff;
  color: white;
}

button:hover{
  opacity: 0.75;
}
